<% provide title: "Add Category" %>
<% provide :button_text, "Create" %>
<h1 class="fixed-h1"><%= "Add Category" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <%= render "form" %>
  </div>
</div>
