<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to t(".about"), "static_pages/about" %></li>
      <li>|</li>
      <li><%= link_to t(".news"), "static_pages/news" %></li>
    </ul>
  </nav>
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= t".copyright" %>
        </div>
      </div>
    </div>
  </div>
</footer>
